{% extends 'index.html' %}
{% load static %}
{% block body %}

<section class="our-doctors">
    <div class="row-our">
        <div class="column-our">
          <div class="card-our">
            <center>
           <img src="{% static 'images/d1.jpg' %}" alt="" height="200px" /></center>
            <div class="container-our text-center">
              <h2>Doctor-1</h2>
              <p class="title-our">MBBS, MD, DM</p>
         
              <p>doctor1@example.com</p>
              <p><button class="button-our"><a href="/booking">Book Appointment</a></button></p>
            </div>
          </div>
        </div>
       
        <div class="column-our">
            <div class="card-our">
                <center>
              <img src="{% static 'images/d2.jpg' %}" alt="" height="200px" />
            </center>
            <div class="container-our text-center">
              <h2>Doctor-2</h2>
              <p class="title-our">MBBS, MD, DM</p>
         
              <p>doctor2@example.com</p>
              <p><button class="button-our"><a href="/booking">Book Appointment</a></button></p>
            </div>
            </div>
          </div>        
          
        <div class="column-our">
          <div class="card-our">
            <center>
           <img src="{% static 'images/d1.jpg' %}" alt="" height="200px" />
        </center>
        <div class="container-our text-center">
          <h2>Doctor-3</h2>
          <p class="title-our">MBBS, MD, DM</p>
     
          <p>doctor3@example.com</p>
          <p><button class="button-our"><a href="/booking">Book Appointment</a></button></p>
        </div>
          </div>
        </div>        
        
        <div class="column-our">
          <div class="card-our">
            <center>
            <img src="{% static 'images/d2.jpg' %}" alt="" height="200px" />
                  </center>
                  <div class="container-our text-center">
                    <h2>Doctor-4</h2>
                    <p class="title-our">MBBS, MD</p>
               
                    <p>doctor4@example.com</p>
                    <p><button class="button-our"><a href="/booking">Book Appointment</a></button></p>
                  </div>
          </div>
        </div>


        <div class="column-our">
          <div class="card-our">
            <center>
           <img src="{% static 'images/d1.jpg' %}" alt="" height="200px" />
        </center>
        <div class="container-our text-center">
          <h2>Doctor-5</h2>
          <p class="title-our">MBBS, MD, DM</p>
     
          <p>doctor5@example.com</p>
          <p><button class="button-our"><a href="/booking">Book Appointment</a></button></p>
        </div>
          </div>
        </div>

        <div class="column-our">
            <div class="card-our">
                <center>
              <img src="{% static 'images/d2.jpg' %}" alt="" height="200px" />
                </center>
                <div class="container-our text-center">
                  <h2>Doctor-6</h2>
                  <p class="title-our">MBBS, MD</p>
             
                  <p>doctor6@example.com</p>
                  <p><button class="button-our"><a href="/booking">Book Appointment</a></button></p>
                </div>
            </div>
          </div>


      </div>


</section>


{% endblock %}